<div class="container-fluid ps-md-0">
<div class="row g-0">
  <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
  <div class="col-md-8 col-lg-6">
    <div class="login d-flex align-items-center py-5">
      <div class="container">

          <div class="row">
          <div class="col-md-9 col-lg-8 mx-auto">
            <h3 class="login-heading mb-4">Add a new category</h3>


                <div class="section">
                    <div class="container">
                        <div class="columns is-centered">
                            <div class="column is-4">
                
                              <div class="form-container">
                                <%= form_with model: @category, class: 'form' do |f| %>
                                  <div class="control">
                                    <%= f.label :name %>
                                    <%= f.text_field :name, class: 'input' %>
                                  </div>
                                  <div class="control">
                                    <%= f.label :priority %>
                                    <%= f.select :priority, [1, 2, 3, 4, 5], class: 'input' %>
                                  </div>
                                  <%= f.submit class: 'form__button | text-is-white' %>
                                <% end %>
                              </div>

                            </div>
                        </div>
                    </div>
                </div>




              <div class="form-check mb-3">

              </div>


          </div>
        </div>




      </div>
    </div>
  </div>
</div>
</div>

<script>
  $('form').on('keypress', e => {
      if (e.keyCode == 13) {
          return false;
      }
  });
</script>