<div class="m-4 p-4"></div>



<main class="container mt-1 mb-1">

<div class="container col-lg text-center mt-0 mb-0 text-white">


    <% @voted_article.take(1).each do |vot| %>       
      <div class="bg-top p-2" style="background-image: url(<%= rails_blob_url(vot.avatar) %>)">

        <% if flash[:error] %>
        <div class="alert alert-info"><%= flash[:error] %></div>
        <% end %> 
        <p class="edica-blog-post-meta">
        </p>
        <div class="m-5 p-5"></div>
        <div class="m-5 p-5"></div>
        <div class="m-5 p-5"></div>
        <div class="d-flex align-items-start flex-column align-self-end">
          <h3 class="text-left"><%= vot.title %></h3>
          <h5 class="text-justify article-text"><%= vot.text %></h5></br>
        </div>
      </div>
    <% end %>

  </div>
</div>

    <div class="container">
      <%= render 'categories' %>
    </div>
  </div>
</main>

<main class="container">

  <div class="d-row">
    


  </div>
</main>

<div class="pt-5 pb-5 container">

</div>
