<div class="m-5 p-5"></div>



<main class="container mt-5 mb-5">

<div class="container col-lg text-center mt-0 mb-0 text-white">



    <% @voted_article.take(1).each do |vot| %>       
      <div class="bg-top p-2" style="background-image: url(<%= rails_blob_url(vot.avatar) %>)">
        <h3><%= vot.title %></h3></br>
          
        <p class="edica-blog-post-meta">
        • <%= vot.get_upvotes.size %> Votes • 
        </p>
        <div class="m-5 p-5"></div>
        <div class="m5 p-5"></div>
        <h5 class="text-justify p-5 article-text"><%= vot.text %></h5></br>
      </div>
    <% end %>

  </div>
</div>

    <div class="container p-0">
      <%= render 'categories' %>
    </div>
  </div>
</main>

<main class="container">

  <div class="d-row">
    


  </div>
</main>
