

  <h1>Categories#index</h1>
  <p>Find me in app/views/categories/index.html.erb</p>
  <h1>
    <% if logged_in? %>
      <div class="p-2 "><span>Welcome, <%= current_user.name %>!</span></div>
    <% end %>
  </h1>

<div class="m-5 p-1"></div>



<main class="container mt-5" role="main">


<div class="container p-4 main-article col-lg text-center">


      <% @firstcat.each do |cat| %>       
        <% cat.articles.take(1).each do |c| %>
          <h3><%= c.title %></h3></br>
          <p class="badge badge-primary"><%= cat.name %></p></br>
          <%= image_tag(c.avatar) %></br>
          <h5><%= c.text %></h5></br>
          <a class="btn btn-lg btn-primary" href="https://blog.nubecolectiva.com" target="_blank" role="button">Blog &raquo;</a>
        </div>
        <% end %>
      <% end %>
  
</div>



<div class="container"></div>
<div class="row"><div class="col-md-4">
  <h2>Frontend</h2>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.<a href="https://blog.nubecolectiva.com/category/frontend/" target="_blank">
  <img class="img-fluid mt-3" src="https://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-11-300x169.png"></a>
  </p></div>
<div class="col-md-4">
  <h2>Backend</h2>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.<a href="https://blog.nubecolectiva.com/category/backend/" target="_blank">
  <img class="img-fluid mt-2" src="https://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-8-300x169.png"></a></p></div>
<div class="col-md-4">
  <h2>Android</h2>
  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.<a href="https://blog.nubecolectiva.com/category/android/" target="_blank">
  <img class="img-fluid mt-2" src="https://blog.nubecolectiva.com/wp-content/uploads/2018/11/img_destacada_blog_devs-9-300x169.png"></a></p></div>
</div><hr>
</main>
<footer></footer><div class="container"><div align="center">Desarrollado por <a href="https://www.nubecolectiva.com" target="_blank">Nube Colectiva</a></div></div>

<br><br>


<main>
  <%= render 'categories' %>
</main>