<main class="container pt-5">

<div class="container p-1 main-article col-lg text-center cat-grid-cont mt-5 mb-5">

<% @voted_article.take(1).each do |vot| %>       
    <h3><%= vot.title %></h3></br>
    <% if flash[:error] %>
    <div class="alert alert-info"><%= flash[:error] %></div>
    <% end %> 
    <p class="edica-blog-post-meta">
    • <%= vot.get_upvotes.size %> Votes • 
    </p>
    <%= image_tag(vot.avatar,class: 'head-img') %></br>
    <div class="m-3"></div>
    <h5 class="text-justify"><%= vot.text %></h5></br>
    <%= link_to "See more", article_path(vot) %>
  </div>
<% end %>
</div>

    <div class="container p-1">
      <%= render 'categories' %>
    </div>
  </div>
</main>


<main class="p-5">
  <div class="">
  </div>
</main>
