<div class="mt-5 pt-5">
  <h1><%= @category.name %></h1>
  <%= @category.articles.each do |art| %>
    <%= art.title %>
    <%= art.text %>
    <% if art.avatar.attached? %>
      <image src="<%=(url_for(art.avatar))%>">
    <% end %>

    <%= link_to like_article_path(art.id), method: :put do %>
      Vote!
    <% end %>
  
    <%= link_to dislike_article_path(art.id), method: :put do %>
      Downvote
    <% end %>

    <% if art.user_id == current_user.id %>
    <%= link_to 'Edit', edit_article_path(art.id), class: 'art-card__button-link btn-warning' %>
    <%= link_to 'Delete', article_path(art.id), method: :delete, class: 'art-card__button-link btn-danger' %>
    <% end %>
    <%= art.get_upvotes.size %>
  <% end %>
</div>

<% @articles.each do |art| %>
  <%= art.title %>
    <article class="card">

       <div class="card__info">
         <h2 class="card__title">
         </h2>
         <div class="card__subtitle">
         </div>
         <div>
           <p class="card__content">
             <%= art.text %>
             <% if art.avatar.attached? %>
              <image src="<%=(url_for(art.avatar))%>">
            <% end %>
             
           </p>
             <%= link_to 'Read more', article_path(art.id), class: 'card__read-more' %>
             Votes
              <%= art.get_upvotes.size %>
         </div>
     </article>
<% end %>



<%= link_to 'Back', :back %>