<header>
    <div class='container'>
        <%= image_tag '', class: 'page_logo'%>

        <nav>
            <ul>
                <li><%= link_to 'New Article', new_article_url %></li>
                <li><%= link_to 'New Category', new_category_url %></li>
                <li><%= link_to 'Categories', categories_url %></li>
            </ul>
        </nav>
    </div>

    <% if logged_in? %>
    <div class="p-2 "><span>Welcome, <%= current_user.name %>!</span></div>
    <div class="p-2 "><%= link_to "Log out", logout_path %></div>
  <% end %>

</header>

<div class="banner">
  
  
  <div class="banner__content">
    <h1 class="banner__content-title">
      
    </h1>
    <p class="banner__content-description">
      
    </p>
  </div>
</div>