        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="#">Lifestyle Articles</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav m-auto pb-3">
    <li class="nav-item active">
      <%= link_to 'New Article', new_article_url, class: 'text-white' %>
    </li>
    <li class="nav-item">
      <%= link_to 'New Category', new_category_url, class: 'text-white' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Categories', categories_url, class: 'text-white' %>
    </li>
    <li>    
      <% if logged_in? %>
        <%= link_to "Log out", logout_path, class: 'text-white' %>
      <% else %>
        <%= link_to "Log In", login_url, class: 'text-white' %>
      <% end %>
    </li>
  </ul>
</div>
</nav>